@import "../../constants/colors.css";
@import "../../constants/vars.css";

* {
  box-sizing: border-box;
}

.NotFoundPageContainer {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  /* margin-inline: auto;
  max-width: 343px; */
}

.categoriesExamples {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .NotFoundPageContainer {
    margin-top: 100px;
    max-width: 204px;
  }

  .categoriesExamples {
    margin-bottom: 40px;
  }
}

@media (min-width: 1440px) {
  .NotFoundPageContainer {
    margin-top: 138px;
    margin-bottom: 205px;
    max-width: 1240px;
  }

  .categoriesExamples {
    margin-bottom: 40px;
  }
}
