.navModalContainer {
}

.navModalList {
	display: flex;
	flex-direction: column;
	gap: 32px;
	text-align: center;
}
.navModalBgSpinach {
	position: absolute;
	right: 0;
	bottom: 0;
}

.navModalItem {
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: -0.02em;
	z-index: 20;
}

.navModalItem:hover {
	color: #8baa36;
}

.navModalLink {
	color: #8baa36;
}


