


.imageBox {
	flex: 0 0 auto;
	position: relative;
	height: 323px;
	min-width: 100%;
	padding: 24px 18px;
	display: inline-flex;
	align-items: end;
	justify-content: center;
	border-radius: var(--border-radius);
	overflow: hidden;
}

.recipePreview {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.productName {
	height: 52px;
	width: 100%;
	padding-inline: 16px;
	text-align-last: left;
	border-radius: var(--border-radius);
	border: none;
	background-color: var(--whiteBackgroundToBlack);
	font-family: var(--poppins-font);
	font-weight: 500;
	font-size: 16px;
	color: var(--secondaryDarkText);
}

@media (min-width: 768px) {
	.imageBox {
		min-width: 336px;
	}
}

@media (min-width: 1440px) {
	.imageBox {
		min-width: 300px;
	}
}
