.media_cointener{
    display: flex;
    padding: 0px;
    gap: 14px;

  @media (min-width: 768px) {
    gap: 18px;
}
}
.social_link_svg{
    color: #8BAA36;
  :hover,
  :focus{
    color: #fafafa;
    transform: scale(1.1);
    transform: scale(1.1);
}
}