.signinForm {
  border-radius: 30px;
  background-color: #2a2c36;
  display: flex;
  flex-direction: column;
  width: 297px;
  height: 315px;
}
@media (min-width: 767px) {
  .signinForm {
    width: 500px;
    height: 442px;
  }
}
@media (min-width: 1279px) {
  .signinForm {
    width: 500px;
    height: 442px;
  }
}

.form {
  width: 320px;
}

.signinTitle {
  color: #fafafa;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-left: 28px;
  /* padding-top: 2vh; */
  margin-top: 5%;
  margin-bottom: 2%;
}
@media (max-width: 767px) {
  .signinTitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.02em;
    padding-top: 2vh;
  }
}
@media (min-width: 1279px) {
  .signinTitle {
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.02em;
    /* padding-top: 1vh; */
  }
}

.inputContainer {
  margin: 4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 767px) {
  .inputContainer {
    margin: 20px 0;
  }
}
@media (min-width: 1279px) {
  .inputContainer {
    /* margin: 27px 0; */
    margin: 20px 0;
  }
}

.label {
  display: block;
  position: relative;
  /* margin-bottom: 24px; */
  margin-bottom: 16px;
}

.icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  fill: #2a2c36;
  stroke: #fafafa;
  transform: translateY(-50%);
  left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 767px) {
  .icon {
    width: 18px;
    height: 18px;
  }
}
@media (min-width: 1279px) {
  .icon {
    width: 24px;
    height: 24px;
  }
}
.input {
  background-color: #2a2c36;
  color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  padding-left: 40px;
  width: 234px;
  height: 40px;
}
@media (min-width: 767px) {
  .input {
    width: 400px;
    height: 59px;
  }
}
@media (min-width: 768px) {
  .input {
    width: 400px;
    height: 59px;
  }
}
.Button {
  background-color: #8baa36;
  color: #f2f2f2;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  width: 279px;
  height: 45px;
  margin: 0 auto;
}
@media (min-width: 767px) {
  .Button {
    width: 444px;
    height: 59px;
  }
}
@media (min-width: 1279px) {
  .Button {
    width: 444px;
    height: 59px;
  }
}
.link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #f2f2f2;
  font-size: 14px;
}
@media (min-width: 767px) {
  .link {
    font-size: 14px;
  }
}
@media (min-width: 1279px) {
  .link {
    font-size: 16px;
  }
}

.error {
  color: red;
}
