.ingredientsList {
	padding-inline: 16px;
}

.listHeader {
	margin-top: -28px;
	margin-bottom: 24px;
	padding: 4px 12px;
	display: flex;
	justify-content: space-between;
	font-size: 10px;
	background-color: var(--greenAccent);
	color: var(--primaryLightText);
	border-radius: var(--border-radius);
}

.listHeaderRight {
	display: flex;
	gap: 20px;
}
