* {
  box-sizing: border-box;
}

.recipeBox {
  display: flex;
  /* background-color: #fff; */
  background-color: aquamarine;
  border-radius: 8px;
  overflow: hidden;
  padding: 0;

  margin-bottom: 18px;
}

.recipeDescription {
  flex: 1;
  margin: 14px 9px 14px 0;
  justify-content: space-between;
  height: 100v;
  background-color: #d9534f;
}

.recipeFoto {
  margin: 14px 14px 14px 9px;
  width: 124px;
  height: 124px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.spacer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  /* margin-bottom: 10px; */
}

.recipeTitle {
  color: #3e4462;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.24px;
  margin-bottom: 4px;
}

.recipeText {
  color: #23262a;
  font-family: Poppins;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.16px;
  margin-right: 43px;
  margin-bottom: 12px;

  margin-bottom: 16px;
}

.recipeTextTime {
  color: #3e4462;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.24px;

  height: 20px;
}

.recipeBox h3 {
  margin: 0;
  color: #333;
  font-size: 1.2rem;
}

.recipeBox p {
  margin: 0;
  color: #333;
}

.recipeButton {
  height: 20px;
  background-color: #5cb85c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 16px;
}

.recipeButton:hover {
  background-color: #4cae4c;
}

button {
  background-color: #d9534f;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #c9302c;
}

@media (min-width: 1440px) {
  .recipeBox {
    display: flex;
    /* background-color: #fff; */
    background-color: aquamarine;
    border-radius: 8px;
    overflow: hidden;
    padding: 0;
    max-width: 1240px;

    margin-bottom: 50px;
  }

  .recipeDescription {
    flex: 1;
    margin: 14px 9px 14px 0;
    justify-content: space-between;
    height: 100v;
    background-color: #d9534f;
  }

  .recipeFoto {
    margin: 40px;
    width: 318px;
    height: 324px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
  }

  .spacer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    /* margin-bottom: 10px; */
  }

  .recipeTitle {
    color: #3e4462;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.24px;
    margin-bottom: 50px;
  }

  .recipeText {
    color: #23262a;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.16px;
    margin-right: 163px;
    margin-bottom: 12px;

    margin-bottom: 16px;
  }

  .recipeTextTime {
    color: #3e4462;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.24px;

    height: 20px;
  }

  .recipeBox h3 {
    margin: 0;
    color: #333;
    font-size: 1.2rem;
  }

  .recipeBox p {
    margin: 0;
    color: #333;
  }

  .recipeButton {
    height: 20px;
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 16px;
  }

  .recipeButton:hover {
    background-color: #4cae4c;
  }

  button {
    background-color: #d9534f;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }

  button:hover {
    background-color: #c9302c;
  }
}
