* {
  box-sizing: border-box;
}
.wrapper {
  margin-bottom: 18px;
  background-color: transparent;
  padding: 0;
}
.recipeBox {
  padding: 14px 9px 14px 9px;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  /* background-color: aqua; */
}
.recipeDescription {
  margin-left: 14px;
  height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recipeFoto {
  display: block;
  margin: 0;
  padding: 0;
  width: 124px;
  height: 124px;
  object-fit: cover;
  border-radius: 8px;
  font-size: 0;
}
.spacerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  align-items: flex-start;
}
.spacerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  align-items: flex-start;
  height: 27px;
}
.recipeTitle {
  color: #3e4462;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.24px;
  margin: 0;
  padding: 0;
}
.recipeText {
  color: #23262a;
  font-family: Poppins;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.16px;
  margin-right: 43px;
}
.recipeTextTime {
  color: #3e4462;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.24px;
}
.trashButton {
  background-color: #8baa36;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: white;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}
.recipeButton {
  border: none;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}
.recipeButton:hover svg {
  fill: #22252a;
  cursor: pointer;
}
.trashButton:hover {
  background-color: #22252a;
  cursor: pointer;
}

@media (min-width: 768px) {
  .wrapper {
    margin-bottom: 40px;
  }
  .recipeBox {
    padding: 28px 24px 28px 24px;
    border-radius: 8px;
  }
  .recipeDescription {
    margin-left: 24px;
    height: 232px;
  }
  .recipeFoto {
    width: 228px;
    height: 232px;
  }
  .spacerBottom {
    height: 45px;
  }
  .recipeTitle {
    font-size: 24px;
  }
  .recipeText {
    font-size: 14px;
    margin-right: 130px;
  }
  .recipeTextTime {
    font-size: 14px;
  }
  .trashButton {
    width: 38px;
    height: 38px;
    margin-left: 10px;
  }
  .trashButton svg {
    width: 22px;
    height: 22px;
  }
  .recipeButton svg text {
    font-size: 18px;
    width: 138px;
    height: 45px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    margin-bottom: 40px;
  }
  .recipeBox {
    padding: 40px;
    border-radius: 8px;
  }
  .recipeDescription {
    margin-left: 24px;
    height: 324px;
  }
  .recipeFoto {
    width: 318px;
    height: 324px;
  }
  .spacerBottom {
    height: 54px;
  }
  .recipeTitle {
    font-size: 24px;
  }
  .recipeText {
    font-size: 18px;
    margin-right: 163px;
  }
  .recipeTextTime {
    font-size: 14px;
  }
  .trashButton {
    width: 44px;
    height: 44px;
    margin-left: 10px;
  }
  .trashButton svg {
    width: 24px;
    height: 24px;
  }
  .recipeButton svg text {
    font-size: 20px;
    width: 138px;
    height: 45px;
  }
}
