.container {
	padding-top: 16px;
	background-color: var(--footerBG);
	color: var(--primaryLightText);
	text-align: center;
	padding-bottom: 20px;
}

.footerHeader {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 18px;
	font-weight: 700;
}

.links {
	list-style: none;
	padding: 0;
	margin-bottom: 28px;
}

.links li {
	margin-bottom: 10px;
	font-size: 14px;
}

.links a {
	color: inherit;
	text-decoration: none;
}
