.skewButton {
	display: block;
	margin-inline: auto;

	padding: 14px 32px;

	padding: 1em 2.3em;

	background-color: transparent;
	border: solid 2px var(--greenAccentSearch);
	border-start-end-radius: 40px;
	border-end-start-radius: 40px;
	border-end-end-radius: 16px;
	border-start-start-radius: 16px;
	font-family: var(--poppins-font);
	font-size: 14px;
	color: var(--otherCategoriesMainPageBtn);
	cursor: pointer;
}


@media (min-width: 768px) {
	.skewButton {
		font-size: 16px;
		padding: 18px 50px;
		border-start-end-radius: 48px;

.smallerButton {
	font-size: 10px;
}

@media (min-width: 768px) {
	.skewButton {
		font-size: 1.14em;
 		border-start-end-radius: 48px;

		border-end-start-radius: 48px;
		border-end-end-radius: 18px;
		border-start-start-radius: 18px;
	}


	.smallerButton{
		font-size: 16px;
		padding: 1em 2.3em;
	}

}
